doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title animated-background-header-in-canvas
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')
    
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    canvas#c
    script(src='scripts/script.js')
